main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;

  & .square {
    background-color: white;
    padding: 1.5rem;
    border-radius: 1.25rem;
    border: 1px solid var(--text-dark);
    box-shadow: 0.5rem 0.5rem 0 #000000;
  }

  & .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 18rem; /* 288px */

    & > img {
      width: 100%;
      padding-bottom: 1.5rem;
    }
  }

  & .content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.62rem;
    margin-bottom: 1.5rem;

    & .category {
      display: flex;
      justify-content: center;
      align-items: center;

      max-width: 4.56rem;
      padding: 0.25rem 0.75rem;

      border-radius: 4px;
      background-color: var(--main-color);

      font: var(--text-preset-trhee-bold);
    }

    & > p {
      font: medium 0.75rem var(--font-family);
      color: var(--text-dark);
    }

    & > h1 {
      font: var(--text-preset-one-mobile);
    }

    p:nth-of-type(2) {
      font: var(--text-preset-two-mobile);
      color: var(--text-light);
    }
  }

  footer {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    & img {
      width: 2rem;
      height: 2rem;
    }

    & span {
      font: var(--text-preset-trhee-bold);
      color: var(--text-dark);
    }
  }
}

@media (width >= 80em) {
  main {
    & .container {
      width: 24rem; /*384px*/
    }

    & .content {
      & > p {
        font: var(--text-preset-trhee);
      }

      & > h1 {
        font: var(--text-preset-one);
      }

      & > h1:hover {
        color: var(--main-color);
      }

      p:nth-of-type(2) {
        font: var(--text-preset-two);
        color: var(--text-light);
      }
    }
  }
}

/* Card */

/* box-sizing: border-box;

/* Auto layout 
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 24px;

width: 384px;
height: 522px;

background: #FFFFFF;
border: 1px solid #111111;
box-shadow: 8px 8px 0px #000000;
border-radius: 20px;

/* Inside auto layout 
flex: none;
order: 0;
flex-grow: 0; */
